<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797153734064-m99hf665g9dgsdv6lssuvgu0teldgt7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797153734064-m99hf665g9dgsdv6lssuvgu0teldgt7s</string>
	<key>API_KEY</key>
	<string>AIzaSyC5rsRqVudEVR0BhCk7xuIfrG4vsXBKGu4</string>
	<key>GCM_SENDER_ID</key>
	<string>797153734064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sapient.techmonk.HRForecast</string>
	<key>PROJECT_ID</key>
	<string>hrforecast-9141e</string>
	<key>STORAGE_BUCKET</key>
	<string>hrforecast-9141e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797153734064:ios:119ddb56c8a91aacf37a75</string>
	<key>DATABASE_URL</key>
	<string>https://hrforecast-9141e.firebaseio.com</string>
</dict>
</plist>